*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    font-size: 10px;
}

body{
    background: black;
}

.header{
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
    border-bottom: .1rem solid grey;
    position: fixed;
    top: 0rem; 
    left: 0rem; 
    right: 0rem;
}

.header .logo img{
    height: 8rem;
}

.header .navbar a{
    margin: 1rem;
    font-size: 2rem;
    color:#fff;
    text-decoration: none;
}

.header .navbar a:hover{
    color:beige;
    border-bottom: .1rem solid beige;
    padding-bottom: .5rem;
}

.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:beige;
}

.home{
    min-height: 45pc;
    display: flex;
    align-items: center;
    background:url(./photo1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    color:#fff;
    padding-left: 10rem;
    padding-top: 20rem;
    text-shadow: gray 5px 5px 5px;
}

.home .content p{
    font-size: 2rem;
    margin-left: 50rem;
    color: gray;
    padding:1rem 0;
    
}

.about .row{
    display: flex;
    align-items: center;
    background:black;
    flex-wrap: wrap;
    min-width: 100px;
}

.about .row .image img{
    width: 90%;
    height: 100%;
    padding-left: 10rem;
}

.heading {
    color: white; 
    font-size: 4rem;
    text-align: center;
    padding: 4rem;

}
.heading span{
    color:rgb(218, 218, 186);
    text-transform: uppercase;
}
.image{
    width: 50pc;
}

.about .row .content{
    flex: 30rem;
    padding-right: 10rem;
}


.about .row .content p{
    font-size: 2rem;
    color:#ccc;
    text-align: justify;
}

.content-wrapper{
    margin-left: 10rem;
    margin-right: 10rem;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    color: beige;
}
.card{
    padding: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8rem;
    border:.1rem solid beige;  
}

.card-body {
padding-top: 1rem;
}

img{
    width: 100%;
    height: 80%;
}

.footer{
    background:black;
    text-align: center;
}

.footer .links{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    gap:1rem;
}

.footer .links a{
    padding: 1rem;
    color:#fff;
    border: .1rem solid grey;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 30%;
}

.footer .links a:hover{
    background:beige;
}

.footer .credit{
    font-size: 2rem;
    color:#fff;
    padding: 2rem;
}

.footer .credit span{
    color:rgb(218, 218, 186);
}

