*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    background: black;
}

.header{
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
    border-bottom: .1rem solid grey;
    position: fixed;
    top: 0rem; 
    left: 0rem; 
    right: 0rem;
    
}

.header .logo img{
    height: 8rem;
}

.header .navbar a{
    margin: 1rem;
    font-size: 1.5rem;
    color:#fff;
}

.header .navbar a:hover{
    color:beige;
    border-bottom: .1rem solid beige;
    padding-bottom: .5rem;
}

.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:beige;
}

.home{
    min-height: 60pc;
    display: flex;
    align-items: center;
    background:url(./photo1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    color:#fff;
    padding-left: 10rem;
    padding-top: 20rem;
}

.home .content p{
    font-size: 2rem;
    margin-left: 50rem;
    color: gray;
    padding:1rem 0;
}

.about .row{
    display: flex;
    align-items: center;
    background:black;
    flex-wrap: wrap;
    min-width: 100px;
}

.about .row .image img{
    width: 90%;
    height: 90%;
    padding-left: 10rem;
}

.image{
    width: 50pc;
}

.about .row .content{
    flex: 30rem;
    padding-right: 10rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#fff;
}

.about .row .content p{
    font-size: 1.5rem;
    color:#ccc;
}